@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
:root{
    /* Primary */
--Strong-cyan: hsl(171, 66%, 44%);
--Strong-cyan-active: hsl(171, 72%, 67%);
--Light-blue: hsl(233, 100%, 69%);
--Light-blue-actve: hsl(233, 72%, 74%);
   
    /* Neutral */
--Dark-Grayish-Blue: hsl(210, 10%, 33%);
--Grayish-Blue: hsl(200, 9%, 62%);

    /* Font */
    --Bai-Jamjuree: 'Bai Jamjuree', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
html{
    font-family: var(--Bai-Jamjuree);
}

.main-container{
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    background-image: url(/Public/images/bg-header-desktop.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}



.header__img img{
    display: block;
    margin: auto;
    padding-bottom: 35px;
    padding-top: 135px;
}



.header__info h1{
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: var(--Dark-Grayish-Blue);
}

.header__info p{
    padding-top: 20px;
    max-width: 650px;
    margin: auto;
    text-align: center;
    font-size: 19px;
    color: var(--Grayish-Blue);
}

.header__buttons{
    flex-wrap: wrap;
    display:flex ;
    align-items: center;
    justify-content: center;
} 
 
.header__button{
    cursor: pointer;
    border: none;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
    padding: 17px 35px;
    color: white;
    border-radius: 10em;
    margin: 15px 35px;
    transition: background-color .4s ease;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.iosVersion{
    background-color: var(--Strong-cyan);
}
.iosVersion:hover{
    background-color: var(--Strong-cyan-active);
}

.androidVersion{
    background-color: var(--Light-blue);
}

.androidVersion:hover{
    background-color: var(--Light-blue-actve);
}



.track{
    padding: 10px;
}

/* TRACK TITTLE */
.track__tittle h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: var(--Dark-Grayish-Blue);
    margin-top: 90px;
}

.track__tittle > p{
    padding-top: 20px;
    max-width: 650px;
    margin: auto;
    text-align: center;
    font-size: 17px;
    color: var(--Grayish-Blue);
}


/* TRACK INFO */

.track__info{
    flex-wrap: wrap;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
} 


.detail__feature{
    margin-left: 15%;
    width: 50%;
}

.info__right{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
}
.info__right  h3 {
    font-size: 25px;
    color: var(--Dark-Grayish-Blue);
    margin-top: 10px;
    margin-bottom: 7px;
}
.info__right p{
    font-size: 17px;
    color: var(--Grayish-Blue);
}

.track__info img{
    max-width: 100%;
    width: 600px;
    margin: auto;
}


@media screen and (max-width: 500px){
   
    .header__content{
        padding: 40px;
    }
    
    .header__info{
        max-width: 80%;
        margin: auto;
    }
    .track__info h1{
        font-size: 2.4rem;
        font-weight: 600
    }
    .track__tittle h2{
        max-width: 100%;
        margin: auto;
        font-size: 2.2rem;
        font-weight: 600;
    }
    .header__buttons{
        margin-top: 7px;
    }
    .detail__feature{
        margin-bottom: 1.1em;
        width: 80%;
    }
    .info__right{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
   
